* {
    background-origin: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e5e7eb;
}

header {
    background-color: white;
    padding: 20px;
    box-shadow: 0 5px 10px lightgrey;
    display: flex;
    justify-content: center;
}

.header-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 3rem;
}

header .button-new-book {
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    background-color: lightslategrey;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.form-modal {
    margin: auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.form-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.form-add-book {
    width: 250px;
    background-color: #e5e7eb;
    padding: 20px;
}

.form-add-book > h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-add-book > div:not(:last-child) {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-add-book input:not(input[type="checkbox"]) {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    outline: none;
}

.form-add-book .read {
    display: flex;
    gap: 15px;
}

.form-add-book .read label {
    font-weight: bold;
    font-size: 1.2rem;
}

.form-add-book .read input {
    display: grid;
    width: 18px;
    height: 18px;
    accent-color: #60a5fa;
}

.form-add-book .add-book button {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #60a5fa;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.form-add-book .cancel-book button {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #f87171;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.book-container {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    grid-auto-rows: 1fr;
}

.book-container .book-card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px 5px lightgrey;
}

.book-container .book-card > :nth-child(1n):not(:last-child) {
    margin-bottom: 10px;
}

.book-container .book-card .remove-book-button {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #f87171;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.book-container .book-card .read-status-button {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: lightslategray;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
}